@import "../../style.scss";

.confession{
  @include themify($themes) {
    padding: 20px 70px;
    background-color: themed("bgSoft");
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }

.root {
  width: 1920px;
}
.container {
  width: 1920px;
  display: grid;
  grid-auto-flow: column;
  align-content: space-evenly;
  justify-items: center;
  align-items: start;
  justify-content: space-around;
}

.right-side {
  width: 350px;
}
.left-side {
  width: 350px;
}
.middle {
  margin-left: 0px;
  text-align: start;
  width: 1014px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.left-side {
  width: 366px;
}
.top-middle {
  height: 131px;
  width: 1014px;
  background-color: #f69797;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
.confession-notes {
  display: grid;
  gap: 0px;
  background-color: #f9e0bb;
  border-radius: 15px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.sticky-notes {
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 0px;
  background-color: #f39353;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 25px;
}
.add-button {
  border-radius: 1000px;
  width: 80px;
  height: 80px;
  border: none;
  margin: 0px 25px 0px 0px;
  background-color: #bd3f3f;
}
.input-notes {
  height: 80px;
  width: 800px;
  border-radius: 15px;
  font-size: 25px;
  text-align: start;
  text-indent: 25px;
  border: none;
}
.button-img {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  display: inline-block;
  flex-direction: row;
  align-items: center;
}
.note-title {
  margin-left: 20px;
  font-size: 25px;
}
.note-body {
  font-weight: 400;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}
